<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>Parameter Entry</title>
        <link type='text/css' rel='stylesheet' href='/static/face.css'>
          <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
          <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

    </head>
    <body>
        <div class="navbar navbar-fixed-top" id="header"> 
            <nav>
            <ul>
                <li id='parameters'>
                <a href='/parameters'>Parameters</a>
                </li>
                <li id='pdicts'>
                <a href='/pdicts'>Pdicts</a>
                </li>
            </ul>
            </nav>
            
        </div>
        <div id='title'>
            <h1> Parameter Dictionaries </h1>
        </div>
        <div id='entry'>
            <table>
                <tr>
                    {% for field in pdicts[0]._fields %}
                    <td>{{field}}</td>
                {% endfor %}
                </tr>
                {% for pdict in pdicts %}
                    <tr>
                    {% for field,value in pdict.iteritems() %}
                        <td>
                        {% if field == 'parameters' %}
                            {{pdict.list_parameter_links()|safe}}
                        {% elif field == 'name' %}
                            <a href='/pdict/{{pdict.id}}'>{{value}}</a>
                        {% elif field == 'temporal_id' %}
                            <a href='/parameter/{{value.id}}'>{{value.name}}</a>
                        {% else %}
                            {{value}}
                        {% endif %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>

        </div>
    </body>
</html>



