html { 
    font-family: "helvetica";
}

body {
    background-color: #1B1D1E;
    color: #B3B3B3;
    padding: 0;
    margin: 0;
}
#header {
    background: #004978 url('banner.png') no-repeat 0 0;
    height: 70px;
}

.navbar-fixed-top {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding:0;
}

.navbar {
    overflow: visible;
    margin-bottom: 18px;
}

.content {
    background: #3E3D32;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0;
    margin-top: 4px;
}

.large-text {
    font-size: 200%;
    margin-left: 2em;
}
.normal-text {
    font-size:100%;
    margin-left: 2em;
}

